  <div class="mt-5">
        <div style="border: 1px solid darkturquoise; width: 100%; height: 300px; background: darkturquoise">
            <div class="container">
                <div class="row qwe">
                    <div class="col-4 mt-5">
                        <span><b>Maʻlomotlar</b></span>
                        <div class="wer">
                            <a href="" style="color: white">Foydalanish qoidalari</a>
                            <a href="" style="color: white">Tovar yetqazib berish</a>
                            <a href="" style="color: white">Tovar qaytarish</a>
                            <a href="" style="color: white">Biz haqimizda</a>
                        </div>
                    </div>
                    <div class="col-4 mt-5">
                        <span><b>Biz bilan aloqa</b></span>
                        <div class="wer">
                            <a href="" style="color: white"><i class="bi bi-telephone mx-2"></i>+99897 222 33 55</a>
                            <a href="" style="color: white"><i class="bi bi-envelope mx-2"></i>xamo@qw</a>
                            <a href="" style="color: white"><i class="bi bi-pin-fill mx-2"></i>Chilonzor 3, Toshkent</a>
                        </div>
                    </div>
                    <div class="col-4">
                        <span><b>Bizning Facebook</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>