<div class="input-group mt-4 ml-4" style="width: 27rem;">
{#    {% for qwe in search %}#}
{#        <form action="{% url "main:searchq" %}" method="get">#}
{#            <input type="text"  class="form-control" name="q" placeholder="Qidirsh......  "#}
{#                   aria-label="Recipient's username"#}
{#                   aria-describedby="basic-addon2">#}
{#            {{ qwe.name_uz }}#}
{#            <button type="submit" class="btn btn-primary">Qidirish</button>#}
{#        </form>#}

{#    {% endfor %}#}




    {#    <form action="{% url "main:searchq" %}" method="get">#}
    {#        {% csrf_token %}#}
    {#        <input type="text" name="q" placeholder="Qidrish....">#}
    {#        <button type="submit">Qidrish</button>#}
    {#    </form>#}


</div>


